{
    "plugins": [
        "react",
        "react-native",
        "jsx"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:jest/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "parser": "@babel/eslint-parser",
        "sourceType": "module",
        "requireConfigFile": false,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "react-native/react-native": true
    },
    "rules": {
        "react/prop-types": "off",
        "react/react-in-jsx-scope": "off",
        "semi": [
            2,
            "always"
        ]
    }
}